<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <appSettings>
    <add key="webPages:Version" value="2.0"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
    <system.data>
        <DbProviderFactories>
            <remove invariant="System.Data.SqlServerCe.4.0" />
            <add invariant="System.Data.SqlServerCe.4.0" name="Microsoft® SQL Server® Compact 4.0" description=".NET Framework Data Provider for Microsoft SQL Server Compact" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=4.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
        </DbProviderFactories>
    </system.data>
    <connectionStrings>
        <add connectionString="server=SKARO-PC;database=WebPagesMovies;trusted_connection=True" name="WebPagesMovies" providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>